/* -----------Fonts----------- */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");

/* ----------/Fonts----------- */

/* ------------Colors----------- */

:root {
    --red: #eb1d36;
    --white: #ffffff;
    --black: #000000;
    --grey: #f0f0f0;
}

.red {
    color: var(--red);
}

.white {
    color: var(--white);
}

.bg-red {
    color: var(--white);
    background-color: var(--red);
}

.bg-white {
    background-color: var(--white);
}

.bg-grey {
    background-color: var(--grey);
}

/* -----------/Colors----------- */

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Inter", sans-serif;
}

section {
    background-image: url(../assets/bus.jpg);
    background-size: cover;
    height: 100vh;
}

.icon {
    height: 1rem;
}

input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 3px;
    width: inherit;
}

button {
    border: none;
    width: 100px;
    height: 45px;
    border-radius: 10px;
}

/* -------------navbar----------- */

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 25px;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)); */
}

.nav-items {
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    justify-content: end;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin: 0rem 1rem;
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--red);
}

.logo {
    font-size: 3rem;
    font-weight: bold;
}

/* ------------/navbar----------- */

/* ------------result------------ */

.results {
    height: 55vh;
}

/* -----------/result------------ */

/* ------------search------------ */

.search {
    margin: auto;
    width: 60vw;
}

.bar {
    margin: 3rem auto;
}

form {
    height: 5rem;
    border-radius: 15px;
    background-color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input {
    border-radius: 5px;
    height: 45px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 35%;
}

.input .icon {
    margin: auto 10px;
    filter: opacity(55%);
}

.two {
    display: none;
}

.three {
    display: none;
}

/* -----------/search------------ */
