/* -----------Fonts----------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

/* ----------/Fonts----------- */

/* ------------Colors----------- */

:root {
    --red: #EB1D36;
    --white: #ffffff;
    --black: #000000;
    --grey: #F0F0F0;
}

.red {
    color: var(--red);
}

.white {
    color: var(--white);
}

.bg-red {
    color: var(--white);
    background-color: var(--red);
}

.bg-white {
    background-color: var(--white);
}

.bg-grey {
    background-color: var(--grey);
}

/* -----------/Colors----------- */

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Inter', sans-serif;
}

section {
    background-image: url(../assets/bus.jpg);
    background-size: cover;
    height: 100vh;
}

.icon {
    height: 1rem;
}

input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 3px;
}

button {
    border: none;
    width: 100px;
    height: 45px;
    border-radius: 10px;
}

/* -------------navbar----------- */

.navBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 25px;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)); */
}

.navItems {
    display: flex;
    justify-content: center;
    padding-left: 0rem;
}

.navLinks {
    display: flex;
    justify-content: end;
}

ul {
    display: flex;
    margin-bottom: 0rem;
}

li {
    list-style: none;
    margin: 0rem 1rem;
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--red);
}

.logos {
    font-size: 3rem;
    font-weight: bold;
}

/* ------------/navbar----------- */

/* -----------Feedback Box--------- */

.Feedback{
    display: flex;
    justify-content: center;
    height: 70vh;
    font-weight: bold;
    padding-top: 2rem;
}

.choice{
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.complaint{
    margin: 1rem;
}

.suggestion{
    margin: 1rem;
    padding-left: 0.5rem;
}
.name{
    color: var(--red);
    font-size: 1.5rem;
    border-top: 0rem;
}

textarea {
    margin: 1.5rem auto 1rem;
    resize: none;
    padding: 1rem;
    border: none;
    border-radius: 15px;
}

/* -----------/Feedback Box--------- */


/* --------Contact me---------- */

.contact{
    position: absolute;
    bottom: 1%;
    left: 40%;
    text-align: center;
    width: 20%;
}

.cicon{
    color: var(--red);
    margin: 5% 7%;
}

.cicon:hover{
    color: var(--white);
}

.contact i {
    font-size: 1.5rem;
}

/* --------/Contact me---------- */